<div class="page-header">
	<h2>Edit user: {{model.fname}} {{model.lname}}</h2>
</div>

<form>
	{{edit-fields model=model showErrors=showErrors errors=errors}}
	<button {{action 'save' model}} class="btn btn-default">Save</button>
</form>