<div class="page-header">
	<h2>Users {{#link-to 'users.new' class='btn btn-success pull-right'}}Add new{{/link-to}}</h2>
</div>

{{models-table
	data=model 
	columns=columns 
	showComponentFooter=false 
	showColumnsDropdown=false 
	useFilteringByColumns=false
	showGlobalFilter=false
	multipleColumnsSorting=false
	pageSize=100
	customClasses=customclass
}}

<p><strong>Total users:</strong> {{totalItems}}<br />
<strong>Total points:</strong> {{pointsSum}}<br />
<strong>Average points/user:</strong> {{averagePoints}}</p>